// $fontfamily-article: 'Bebas Neue', cursive;
// $fontfamily: 'Exo 2', sans-serif;
$fontfamily: 'Bebas Neue', cursive;
$fontfamily-article: 'Exo 2', sans-serif;

$font-color-main: #ffffff;
$font-color-additional: #000000;
$bcg-color1: #222222;
$bcg-color2: #15151b;
$bcg-color3: #fb9703;
$bcg-selected: #e89829;
$bg-blur: rgba(31, 112, 127, 0.3);
$bg-popup: #63542eb3;
$bcg-danger: #df4759;
$bcg-success: #42ba2c;
$bcg-color-white: #ffffff;
$bcg-color-grey: #c1c1c1;

// Контейнер $mw
$container-max-width: 1600;


